.contact-section {
  display: flex;
  text-align: start;
  justify-content: center;
}

.contact-section__text {
  width: 30%;
}

.contact-section__text p {
  font-weight: 400;
}

.contact-section__field {
  border-color: #132743;
}
footer {
  background-color: red;
}
