.main_header {
  position: absolute;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .logo-text {
  z-index: 1;
}
.header-wrapper .logo-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
header {
  justify-content: space-between;
}
.header-wrapper .logo-text h3:before {
  content: "";
  background-image: url(../images/cloud-logo.svg);
  width: 30px;
  height: 30px;
  left: 0px;
  margin-left: 0px;
  top: 0px;
  display: inline-block;
  background-repeat: no-repeat;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation li:not(:last-child) {
  margin-right: 27px;
}
.header-navigation nav a {
  color: #2f281e;
  font-weight: normal;
}
.header-navigation .btn:not(:last-child) {
  margin-right: 15px;
}
.header-navigation__list {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  justify-content: space-between;
}
.header-navigation__list a {
  color: #fff;
  z-index: 1;
}
