@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .logo-text {
    font-size: 2px;
  }
  .header-navigation {
    display: none;
  }
  .half-content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .half-content__text-wrapper {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
  }
  .features-section {
    margin-top: -87px;
  }
  .features-section__title {
    margin-top: 0;
  }
  .features-section-grid {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 25px;
  }
  .features-section-grid__item {
    margin-bottom: 125px;
  }
  .btn {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .main-section__title {
    font-size: 35px;
    padding-top: 0;
  }
  .main-section__description {
    font-size: 19px;
  }
  .main {
    margin-bottom: 0px;
  }
  .technology-section {
    margin-bottom: 0px;
    &__title {
      margin-bottom: 25px;
    }
  }
  .bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .technology-list__item {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .technology-list {
    flex-wrap: wrap;
  }
  .stay-focused {
    flex-direction: column-reverse;
  }
  .half-content__image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .bg-red {
    height: auto;
  }
  .stay-focused {
    flex-direction: column-reverse;
    &__text-wrapper {
      width: 100%;
    }
    &__image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
